.about__container {
    height: 150vh;
    background-image: linear-gradient(to right bottom, $color-tertiary, $color-secondary);
    background-size: cover;
    background-position: center;    
    clip-path: polygon(5% 7%, 100% 0, 100% 100%, 0% 100%);
    display: block;
    position: relative;
    
    
    // background-image: linear-gradient(to right bottom, $color-secondary, $color-tertiary);
    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
h2 {
    display: inline-block;
    color: $color-dark-grey;
    font-size: 2.5rem;
    position: absolute;
    top: 10%;
    left: 5%;
}